@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #333;
  --black2: #333;
  --white: #fff;
  --white2: #fff;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background: var(--white2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: width 0.5s, left 0.5s;
}

.navigation.active {
  width: 0;
}

.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0;
  white-space: normal;
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  letter-spacing: 2px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.navigation ul li a:hover {
  opacity: 1;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  background: var(--white);
  min-height: 100vh;
  transition: width 0.5s, left 0.5s;
}

.main.active {
  width: calc(100% - 0px);
  left: 0px;
}

.main .top-bar {
  position: fixed;
  top: 0;
  width: calc(100% - 300px);
  left: 300px;
  background: var(--white2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 60px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  transition: width 0.5s, left 0.5s;
}

.main .top-bar.active {
  width: calc(100% - 0px);
  left: 0px;
}

.main .top-bar .logo {
  color: var(--black);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main .top-bar .toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  color: var(--black);
}

section {
  position: relative;
  min-height: 100vh;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.banner .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.banner .image-box {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.banner .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h3 {
  position: relative;
  font-size: 1.4em;
  color: var(--black);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.banner p {
  position: relative;
  color: #777;
}

.banner .btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: var(--black2);
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
}

.banner .social-media-buttons {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
}

.banner .social-media-buttons li {
  list-style: none;
}

.banner .social-media-buttons li a {
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 1.2em;
  transition: background 0.2s, color 0.2s;
}

.banner .social-media-buttons li a:hover {
  background: var(--black);
  color: #fff;
}

.adjust {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 0 40px;
  padding-top: 80px;
  background: var(--white);
  color: var(--black);
  display: inline-block;
}

.adjust .title {
  width: 100%;
  text-align: center;
}

.adjust .title h2 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.adjust .title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 50px;
  height: 1px;
  background: var(--black);
}

.adjust .content .text-box p {
  color: #777;
}

.services .title p {
  color: #777;
}

.services .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 40px 0;
}

.services .content .service-box {
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white);
}

.services .content .service-box i {
  width: 60px;
  height: 60px;
  font-size: 3em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.services .content .service-box h2 {
  font-size: 1.1em;
  margin: auto 0;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--black);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.services .content .service-box p {
  text-align: center;
}

.projects .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 40px 0;
}

.projects .content .project-box {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.projects .content .project-box .image-box {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(0px);
  transition: transform 0.5s ease-in-out;
}

.projects .content .project-box .image-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects .content .project-box:hover .image-box {
  transform: translateY(-100%);
}

.projects .content .project-box .text-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.projects .content .project-box:hover .text-box {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

.projects .content .project-box .text-box h3 {
  color: #fff;
}

.testimonials .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 40px 0;
}

.testimonials .content .testimonial-box {
  background: var(--white2);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.testimonials .content .testimonial-box .image-box {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.testimonials .content .testimonial-box .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials .content .testimonial-box p {
  font-style: italic;
  color: #777;
}

.testimonials .content .testimonial-box h4 {
  text-align: right;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  color: var(--black);
  line-height: 1.2em;
  font-weight: 600;
  border-right: 4px solid var(--black2);
  padding-right: 10px;
}

.testimonials .content .testimonial-box h4 span {
  text-transform: initial;
  color: #aaa;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.7em;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.contact .form-box {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}

.contact .form-box .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.contact .form-box .row2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contact .form-box .row2 textarea,
.contact .form-box .row input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: var(--black);
  background: var(--white2);
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact .form-box .row2 textarea {
  resize: none;
  height: 200px;
}

.contact .form-box .row2 input[type="submit"] {
  background: var(--black2);
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  max-width: 150px;
  border: none;
}

.copyright p {
  position: relative;
  bottom: 0;
  padding: 10px 40px;
  text-align: center;
  color: #777;
}

@media (width <= 992px) {
  .navigation {
    left: -100%;
  }

  .navigation.active {
    left: 0;
    width: 100%;
  }

  .main {
    left:0;
    width: 100%;
  }

  .main.active {
    left: 100%
  }

  .main .top-bar{
    left: 0;
    width: 100%;
    padding: 0 20px
  }

  .navigation ul{
    padding: 20px 20px;
  }

  .banner .image-box{
    width: 250px;
    height: 250px;
  }

  .banner h3,
  .banner p{
    text-align: center;
  }

  .adjust{
    padding: 0 20px;
    padding-top: 80px;
  }

  .about .content{
    flex-direction: column;
  }

  .about .content .text-box{
    width: 100%;
    min-width: 100%;
  }

  .services .content{
    grid-template-columns: repeat(2, 1fr);
  }

  .projects .content{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 767px) {
  .services .content{
    grid-template-columns: repeat(1, 1fr);
  }

  .projects .content{
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonials .content{
    grid-template-columns: repeat(1, 1fr);
  }

  .contact .form-box .row{
    grid-template-columns: repeat(1, 1fr);
  }

  .contact{
    margin-bottom: 100px;
  }

  .copyright{
    padding: 10px 20px;
  }
}
