.recentCustomers{
    position: relative;
    display: grid;
    padding: 20px;
    box-shadow: var(--shadow1);
    border-radius: 20px;
    background: var(--white);
}

.recentCustomers .avatarBox{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recentCustomers .avatarBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr:hover{
    background: var(--blue);
    color: var(--white);
}

.recentCustomers table tr td {
    padding: 12px 10px;
}

.recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.recentCustomers table tr td h4 span{
    font-size: 14px;
    color: var(--black2);
}

.recentCustomers table tr:hover td h4 span{
    color: var(--white);
}
