.details .recentOrders{
    position: relative;
    display: grid;
    background: var(--white);
    padding: 20px;
    box-shadow: var(--shadow1);
    border-radius: 20px;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.cardHeader h2{
    font-weight: 600;
    color: var(--blue);
}

.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td{
    font-weight: 600;
}

.details .recentOrders table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tbody tr:last-child{
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover{
    background: var(--blue);
    color: var(--white);
}

.details .recentOrders table tr td {
    padding: 10px;
}

.details .recentOrders table tr td:last-child {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}

.status{
    padding: 2px 4px;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.delivered{
    background: #8de02c;
}
.status.pending{
    background: #f9ca3f;
}
.status.return{
    background: #f00;
}
.status.in-progress{
    background: #1795ce;
}